%div#whole
  %div#user-form
    = form_with url: sign_in_path, local: true do |f|
      %h2#header Login
      = f.label :email
      = f.text_field :email, autofocus: true, required: true
      = f.label :password
      = f.password_field :password, required: true
      = f.submit "Login", class: "btn btn-primary form-btn"
      = link_to "Back", root_path, class: "btn btn-primary form-btn"

       