.card
  .card-header.d-flex.align-items-center
    %span Listing Posts
    %span (There are #{@posts.size} posts available.)
    .ms-auto.float-end
      = link_to 'New Post', new_post_path, class: 'btn btn-outline-secondary ms-auto'

  %table.table
    %thead
      %tr
        %th Title
        %th Description
        %th Location
        %th Date
        %th Organiser
        %th Deadline
        %th URL
        %th Post Type
        %th Tags
        %th Recurring
        %th
    %tbody
      - @posts.each do |post|
        %tr
          %td= post.title
          %td= post.description
          %td= post.location
          %td= post.date
          %td= post.organiser
          %td= post.deadline
          %td= post.url
          %td= post.post_type
          %td= post.tags.join(' -')
          %td= post.recurring
          %td
            .btn-toolbar.float-end
              = link_to 'Show', post, class: 'btn btn-outline-secondary btn-sm'
              = link_to 'Edit', edit_post_path(post), class: 'btn btn-outline-secondary ms-1 btn-sm'
              = link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger ms-1 btn-sm'
