<%= form_for @user, url: profile_path(@user) do |f| %>
  <div class="card-header d-flex align-items-center">
    <div class="card-body">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control', value: @user.email, required: true %>

      <%= f.label :full_name %>
      <%= f.text_field :full_name, class: 'form-control', value: @user.full_name, required: true %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control', required: true %>
      <p class="text-muted">Type a new password if you want to change it, otherwise type the current password.</p>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control', required: true %>
      <p class="text-muted">Type the password again to confirm.</p>

      <% if @user.user_role == '0' %>
        <%= f.label :tags %>
        <% ['AI', 'ML', 'Data Science', 'Software', 'IOT', 'Industry event', 'Job opportunity', 'Other'].each do |tag| %>
          <div class="form-check">
            <%= check_box_tag 'user[tags][]', tag, @user.tags.include?(tag), class: 'form-check-input', id: "user_tags_#{tag}" %>
            <%= label_tag "user_tags_#{tag}", tag, class: 'form-check-label' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="card-footer d-flex">
    <%= f.submit 'Update', class: 'btn btn-primary' %>
    <%= link_to 'Back', posts_path, class: 'btn btn-link ms-auto' %>
  </div>
<% end %>
