.card
  .card-header.d-flex.align-items-center
    %span User detail 
  .card-body
    %p
      %strong Email:
      = @user.email
    %p
      %strong Full Name:
      = @user.full_name
    %p
      %strong Role:
      = @user.user_role == '0' ? 'User' : @user.user_role == '1' ? 'Poster' : 'Admin'
    %p
      %strong Created at:
      = @user.created_at
    %p
      %strong Updated at:
      = @user.updated_at
    %p
      %strong password:
      ********
    %p
      -if @user.user_role == '0'
        %strong tags:
        = @user.tags.join(' -')
  .card-footer.d-flex
    = link_to 'Edit', edit_profile_path(@user), class: 'btn btn-outline-secondary'
    -if @user.user_role != '2'
      = link_to 'Destroy', profile_path(@user), method: :delete, class: 'btn btn-outline-danger ms-auto'
    = link_to 'Back', posts_path, class: 'btn btn-link ms-auto'
