.row.justify-content-center
  .col-sm-8.col-lg-6
    .card
      .card-header
        User Profile
      .card-body
        %p
          %strong Email:
          = @user.email
        %p
          %strong Role:
          = @user.user_role == '0' ? 'User' : @user.user_role == '1' ? 'Poster' : 'Admin'
        %p
          %strong Created at:
          = @user.created_at.strftime('%e %B %Y %H:%M:%S')
        %p
          %strong Updated at:
          = @user.updated_at.strftime('%e %B %Y %H:%M:%S')
        %p
          %strong password:
          = @user.password
        %p
          -if @user.user_role == '0'
            %strong tags:
            = @user.tags.join(' -')
      .card-footer.d-flex
        = link_to 'Edit', edit_profile_path(@user), class: 'btn btn-outline-secondary'
        = link_to 'Back', root_path, class: 'btn btn-link ms-auto'